* {
    font-family: 'Work Sans';
}

.header {
    background-image: url('../images/banner/banner3.png');
    background-position: center;
    background-size: cover;
    min-height: 120vh;
}

/* banner style */

.banner {
    text-align: right;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    position: absolute;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.btn-primary {

    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    margin-top: 30px;
    border-radius: 5px;
    border-style: none;

}


/* failures section styles */

.failures-section {
    display: flex;
    align-items: center;
    margin-top: 105px;
    gap: 75px;
    margin-left: 200px;
    margin-right: 400px;
}

.failures-title {

    font-weight: 700;
    font-size: 40px;
    color: #151414;

}

.failures-description {

    color: #444343;
}

.failures-sub-description {
    color: #444343;
}

/* plan section styles */

.plan-title {
    text-align: center;
    margin-bottom: 60px;
    color: #151414;
    font-weight: 700;
    font-size: 40px;

}

.plan-section {
    display: flex;
    justify-content: space-around;
    margin: 0 250px;
}

.plan-sub-title {
    font-weight: 700;
    font-size: 30px;
    margin-top: 25px;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    margin-top: 15px;
}

/* gradient styles */

.gradient-section {
    /* background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%); */
    border-radius: 8px;
    background-image: linear-gradient(90deg, #005499 0%, rgba(0, 101, 184, 0) 100%), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    height: 300px;
    margin: 130px 230px;
}

.gradient {
    padding: 60px;
}

.gradient-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 25px;
}


/* footer section styles */
.footer-section {
    display: flex;
    gap: 335px;
    /* position: absolute;
    width: 1600px;
    height: 577px;
    left: 0px;
    top: 2651.96px; */
    background: #151414;
    color: #F8F8F8;
    padding: 135px 250px;
}

.contact-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;
}

.contact-description {
    margin-bottom: 24px;

}

.sub-title {
    font-weight: 600;
    font-size: 25px;
}

.input-box {
    background: #151414;
    height: 65px;

}

.sub-btn {
    width: 170.11px;
    height: 64px;
    border-radius: 10px;
    background: #005FAC;
    padding: 20px 35px;
    margin-top: -17px;
}